.new-item-page h1 {
    margin-block-end: 0px;
}

.form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 35px;
}

.form-layout label {
    margin-left: 10px;
    text-align: left;
}

input {
    height: 50px;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 18px;
}

input[type=submit] {
    background: black;
    border: none;
    color: white;
    cursor: pointer;
}

button {
    height: 50px;
}